

body, #shufflebutton {
	font-family: cursive;
	font-size: 14pt;
	text-align: center;
}

#puzzlearea {
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#puzzlearea div {
	width: 90px;
	height: 90px;
	border: 5px solid;
	font-size: 40pt;
	background-image: url('background.jpg');
	position: absolute;
}

.movablepiece:hover {
	border: red;
	color: red;
}
